body{
  overflow: hidden;
}
.App {
  margin: 0;
  top: 0;
}

* {
  margin: 0;
  top: 0;
  cursor: none;
}

.background {
  background-color: whitesmoke;

}



/* video {
  width: 100%;
  height: 100%;
} */